body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url(./img/Bg.png);
  height: 782px;
}

.navbar {
  height: 100px;
  padding-top: 17px;

  display: grid;

  align-items: center;
  align-self: center;
  grid-template-columns: auto auto auto;
  margin-left: 50px;
  padding: 10px;
}

.navbar_logo a {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  font-family: "Lato";
  font-style: normal;
}

.navbar_button {
  display: flex;
  justify-content: space-around;
  width: 445px;
}

.navbar_button a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  font-family: "Lato";
  font-style: normal;
}

.navbar_login__language a {
  color: #fff;
  padding: 10px;
}

.navbar_login {
  display: flex;
}
.navbar_login button {
  width: 100px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center {
  padding-top: 257px;
}
.center h1 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  font-family: "Lato";
  font-style: normal;
  text-transform: uppercase;
}
.center .center_text {
  display: flex;
  align-items: center;
  font-size: 34px;
  font-weight: 600;
  color: #fff;
  font-family: "Lato";
  font-style: normal;
  margin-top: 36px;
  margin-bottom: 36px;
  text-align: center;
}

.center button {
  width: 160px;
  height: 50px;
  color: #ed4c5c;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  text-align: center;
}

.second {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.second_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 140px;
  margin-left: 165px;
  width: 445px;
}
.second_left h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}

.second_left span {
  margin-top: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  /* text-align: justify; */
}

.second_left a {
  text-decoration: none;
  color: #ed4c5c;
  margin-top: 10px;
}

.second_right {
  margin-top: 94px;
}

.third {
  background-color: #fafafa;
  height: 600px;
}

.third h2 {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 50px;
  margin-top: 30px;
}

.third_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 90px;
}

.third_block h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.third_block p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  text-align: center;
}
.third_block a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  margin-top: 30px;

  text-align: center;

  color: #ed4c5c;
  text-decoration: none;
}

.third_text {
  background-color: #fff;
  width: 293px;
  height: 198px;
  border-radius: 8px;
}
.third_text__box {
  width: 253px;
  height: 140px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third_block__img {
  position: relative;
}

.third_text {
  position: absolute;
  top: 157px;
  left: 35px;
}

.container {
  width: 1440px;
}

.four_img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: end;
  margin: 50px 0;
}
.four_img__item {
  margin-left: 90px;
  width: 255px;
  height: 226px;
  text-align: center;
}

.four h2 {
  text-align: center;
  margin-top: 20px;
}

.second_two {
  background-color: #ed4c5c;
}
.second_left__img {
  margin-top: 20px;
}

.fifth {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 500px;
  align-items: center;
  /* justify-content: center; */
}

.fifth_left {
  width: 445px;
  height: 160px;
  /* margin-right: 40px; */
}
.fifth_left p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.fifth_left h3 {
  margin-bottom: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}
input.placeholder {
  text-align: center;
}

.fifth_left {
  justify-self: center;
  /* align-self: center; */
}

.fifth_right {
  width: 40%;
}

.fifth_right__input {
  /* display: flex; */
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

.fifth_right input {
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin-bottom: 20px;
}

.fifth_right__input input {
  width: 255px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.fifth_right button {
  width: 160px;
  height: 50px;
  background-color: #ed4c5c;
  color: #fff;
  border: 1.5px solid #ed4c5c;
  border-radius: 6px;
}

.footer_item {
  display: flex;
  justify-content: space-around;

  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center; */
}

.footer_item__text {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: #000;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.footer_item__text p {
  margin-top: 100px;
  margin-bottom: 30px;
}

.footer_item__text h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
